/* You can add global styles to this file, and also import other style files */
body
  font-family: "Lato", sans-serif
  font-weight: 400
  font-style: normal
  background: var(--bg)

  margin: 0

app-root
  display: flex

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
:root 
  --x: 0
  --y: 0
  --xp: 0
  --hue: calc(0 + (var(--xp) * 500))
  --bg: #1a1a1a
  --size: 100px
  --glow: radial-gradient(hsl(var(--hue) 80% 85%), hsl(var(--hue) 80% 70%), transparent, transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5) ) / var(--size) var(--size) no-repeat fixed